.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.price-wrapper {
  margin-bottom: 15px;
}
.btn-wrapper button {
  background-color: limegreen;
  border: 0px;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  box-shadow: #333 0px 1px 5px;
  cursor: pointer;
}

.img-wrapper img {
  width: 100px;
  margin-top: -10px;
}
.product-wrapper {
  border: 1px solid #ccc;
  margin-left: 2%;
}
.item {
  display: inline-block;
  width: 120px;
  padding: 20px;
  height: 70px;
}
.add-to-cart img {
  width: 80px;
  position: absolute;
  right: 1%;
  top: 1%;
}

.add-to-cart button {
  position: absolute;
  right: 100px;
  background-color: red;
  border: 0px;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  box-shadow: #333 0px 1px 5px;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  right: 10px;
  top: 12px;
  z-index: 1;
  background-color: red;
  padding: 7px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
}
